{% extends 'main/base.html' %}

{% block content %}


<form method="post" enctype="multipart/form-data">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">

                        {% csrf_token %}
                        {{ form.as_p }}

                    </div>
                    <div class="card-body">

                        {{ mailing_formset.management_form }}
                        {% for form in mailing_formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}

                        {{ client_formset.management_form }}
                        {% for form in client_formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save mailing">
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>

{% endblock %}
