<div class="sticky-top bg-body-tertiary">
    <div class="container">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2">About us</a></li>
                <li><a href="#" class="nav-link px-2">Articles</a></li>
                <li><a href="#" class="nav-link px-2">Statistic</a></li>

            </ul>

            <div class="col-md-3 text-end">
                <a class="btn btn-primary px-4 gap-3" href="{% url 'login' %}" role="button">Login</a>
                <a class="btn btn-outline-secondary px-4" href="{% url 'register' %}" role="button">Sign-up</a>

            </div>
        </header>
    </div>
</div>