<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold text-body-emphasis">Mailing here</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to Sorokin LTD, a vibrant and rapidly expanding force in the realm of mass
            messaging services. As a young and dynamic company, we take pride in revolutionizing the way businesses
            connect with their audience through our cutting-edge mailing services. Our mission is simple yet powerful:
            to empower our clients in promoting their products and services with unparalleled efficiency.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if user.is_authenticated %}
            {% if perms.mailing.change_mailing %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'moderator_personal_area' %}" role="button">Moderator's personal area</a>
            {% else %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'mailing_list' %}" role="button">Snow my
                mailings</a>
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'mailing_form' %}" role="button">Create new
                mailing</a>
            {% endif %}
            {% else %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'register' %}" role="button">Sign-up</a>
            {% endif %}

        </div>
    </div>
</div>
