{% extends 'main/base.html' %}
{% load my_tags %}

{% block content %}
<div>
    <h1 class="container text-center pt-5">
        User
    </h1>


    <div class="py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Name - {{ object.name }}</p>
                            <p class="card-text">Lastname - {{ object.lastname }}</p>
                            <p class="card-text">Birthday - {{ object.birthday }}</p>
                            <p class="card-text">Email - {{ object.email }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'index' %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Back
                                    </a>
                                    <a href="{% url 'user_update' object.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Edit
                                    </a>
                                    <a href="{% url 'user_delete' object.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Delete
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}